{% extends 'index.html' %}
{% block content %}
    <div>
        {% for e in teachers %}
        <div>
            <label>Nom: </label> <a href="{% url 'teacher_un' e.id %}">{{e.name}}</a>
        </div>
        <div>
            <label>Cognom: </label> {{e.surname}}
        </div>
        <div>
            <label>Edat: </label> {{e.age}}
        </div>
        <td><a href="{% url 'update-teacher' e.id %}">EDIT</a></td>
        <td><a href="{% url 'delete-teacher' e.id %}">DELETE</a></td>
        <div><br></div>
        {% endfor %}
    </div>
{% endblock %}